body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  color: #333;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  align-items: center;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #f8f9fa; /* or your preferred color */
  z-index: 1000;
}

#headerTitle {
  margin: 30px;
}

#languageSwitcher {
  position: absolute;
  top: 20px;
  right: 40px;
  cursor: pointer;
  /* Additional styling for the link */
}

footer {
  text-align: center;
  background-color: #f8f9fa;
  color: #6c757d;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}

main {
  flex-grow: 1;
  margin-top: 140px;
  margin-bottom: 100; /* Adjust based on footer height */
  padding: 10px; /* Optional padding */
}

h1 {
  color: #b3000c;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
}

th,
td {
  border: 1px solid #ddd;
  padding: 12px 15px;
}

th {
  background-color: #f8f9fa;
  color: #6c757d;
}

tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.button {
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  border: 1px solid #218838;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, box-shadow 0.3s;
  text-align: center;
  cursor: pointer;
  margin: 20px 0;
}

.button-center {
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

.button-right {
  margin-right: 40px;
}

.button:hover {
  background-color: #218838;
}

.button:active {
  background-color: #1e7e34;
}

.button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}

.delete-btn {
  border: none;
  background: none;
  color: red;
  cursor: pointer;
}

.delete-btn.disabled {
  color: #cccccc; /* Lighter color for disabled state */
  cursor: default;
}

.friend-list {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 120px;
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.friend-list.with-message {
  margin-top: 20px;
}

.header-actions {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box; /* Include padding in the width */
  display: inline-flex;
  justify-content: space-between;
}

#messageArea {
  display: none;
  margin-top: 20px;
  margin-bottom: 20px;
}

.message-success {
  color: green;
}

.message-error {
  color: red;
}

.actions {
  text-align: center;
}

#friendsTable input[type='text'],
#friendsTable input[type='email'] {
  border: none;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  background-color: transparent;
  color: #495057;
}

#friendsTable input[type='text']:focus,
#friendsTable input[type='email']:focus {
  background-color: #e9ecef;
}

#sendEmailsButton:disabled {
  margin-top: 20px;
}

#sendEmailsButton:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}
